<!-- inject:css -->

<div class="weather glass-material"></div>

<script>
  window.weather = {
    enable: "<%= theme.weather.enable %>",
    cityCode: "<%= theme.weather.cityCode %>",
    appKey: "<%= theme.weather.appKey %>",
  }
</script>

<!-- inject:js -->