<!-- inject:css -->
<div class="preference cosy-scrollbar">
  <main>
    <h1>首选项</h1>
    <p>管理您的首选项</p>
    <cosy-divider></cosy-divider>
    <h2>外观</h2>
    <section>
      <div>
        <h3>字体大小</h3>
        <p>调整字体大小</p>
      </div>
      <cosy-button>
        <svg slot="suffix" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
          <g fill="none">
            <path d="M15.854 7.646a.5.5 0 0 1 .001.707l-5.465 5.484a.55.55 0 0 1-.78 0L4.147 8.353a.5.5 0 1 1 .708-.706L10 12.812l5.147-5.165a.5.5 0 0 1 .707-.001z" fill="currentColor"></path>
          </g>
        </svg>
        <span slot="content">字体大小</span>
      </cosy-button>
    </section>
    <cosy-divider></cosy-divider>
    <section>
      <div>
        <h3>动画</h3>
        <p>动画效果开关</p>
      </div>
      <cosy-switch checked>
      </cosy-switch>
    </section>
    <cosy-divider></cosy-divider>
    <section>
      <div>
        <h3>主题</h3>
        <p>选择或自定义界面配色方案。</p>
      </div>
      <cosy-button>
        <svg slot="suffix" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
          <g fill="none">
            <path d="M15.854 7.646a.5.5 0 0 1 .001.707l-5.465 5.484a.55.55 0 0 1-.78 0L4.147 8.353a.5.5 0 1 1 .708-.706L10 12.812l5.147-5.165a.5.5 0 0 1 .707-.001z" fill="currentColor"></path>
          </g>
        </svg>
        <span slot="content">Dark</span>
      </cosy-button>
    </section>
    <cosy-divider></cosy-divider>
    <section>
      <div>
        <h3>主题色</h3>
        <p>选择一个你觉得还行的颜色</p>
      </div>
      <cosy-button>
        <svg slot="suffix" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
          <g fill="none">
            <path d="M15.854 7.646a.5.5 0 0 1 .001.707l-5.465 5.484a.55.55 0 0 1-.78 0L4.147 8.353a.5.5 0 1 1 .708-.706L10 12.812l5.147-5.165a.5.5 0 0 1 .707-.001z" fill="currentColor"></path>
          </g>
        </svg>
        <span slot="content">#ccc</span>
      </cosy-button>
    </section>
  </main>
</div>
<!-- inject:js -->