<!-- inject:css -->
<div class="preference cosy-scrollbar">
  <main>
    <h1>偏好</h1>
    <p>管理您的首选项</p>
    <cosy-divider margin="2rem 0"></cosy-divider>
    <h2>外观</h2>
    <section>
      <div>
        <h3>文章字体大小</h3>
        <p>调整文章内容基本字体大小</p>
      </div>
      <cosy-button id="dd-button-font-size">
        <svg slot="suffix" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
          <g fill="none">
            <path d="M15.854 7.646a.5.5 0 0 1 .001.707l-5.465 5.484a.55.55 0 0 1-.78 0L4.147 8.353a.5.5 0 1 1 .708-.706L10 12.812l5.147-5.165a.5.5 0 0 1 .707-.001z" fill="currentColor"></path>
          </g>
        </svg>
        <span slot="content">13px</span>
      </cosy-button>
    </section>
    <cosy-divider margin="2rem 0"></cosy-divider>
    <section>
      <div>
        <h3>语言</h3>
        <p>选择界面语言</p>
      </div>
      <cosy-button id="dd-button-language">
        <svg slot="suffix" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
          <g fill="none">
            <path d="M15.854 7.646a.5.5 0 0 1 .001.707l-5.465 5.484a.55.55 0 0 1-.78 0L4.147 8.353a.5.5 0 1 1 .708-.706L10 12.812l5.147-5.165a.5.5 0 0 1 .707-.001z" fill="currentColor"></path>
          </g>
        </svg>
        <span slot="content">简体中文</span>
      </cosy-button>
    </section>
    <cosy-divider margin="2rem 0"></cosy-divider>
    <h2>主题</h2>
    <section>
      <div>
        <h3>风格</h3>
        <p>选择应用主题的风格</p>
      </div>
      <cosy-button id="dd-button-theme">
        <svg slot="suffix" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
          <g fill="none">
            <path d="M15.854 7.646a.5.5 0 0 1 .001.707l-5.465 5.484a.55.55 0 0 1-.78 0L4.147 8.353a.5.5 0 1 1 .708-.706L10 12.812l5.147-5.165a.5.5 0 0 1 .707-.001z" fill="currentColor"></path>
          </g>
        </svg>
        <span slot="content">黑暗模式</span>
      </cosy-button>
    </section>
    <cosy-divider margin="2rem 0"></cosy-divider>
    <section>
      <div>
        <h3>颜色</h3>
        <p>请在 <cosy-label>hexo-theme-cosy</cosy-label> 配置文件中的 <cosy-label>color 参数</cosy-label> 修改</p>
      </div>
      <cosy-tooltip placement="left" id="theme-color-tip">
        <span slot="content"></span>
        <cosy-label bordered>
          <span id="theme-color"></span>
        </cosy-label>
      </cosy-tooltip>
    </section>

  </main>
</div>
<!-- inject:js -->