<!-- inject:css -->
<div class="preference cosy-scrollbar">
  <main>
    <h1>偏好</h1>
    <p>管理您的首选项</p>
    <h2>外观</h2>
    <section>
      <div>
        <h3>字体大小</h3>
        <p>基本字体大小</p>
      </div>
      <cosy-button id="dd-button-font-size">
        <svg slot="suffix" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
          <g fill="none">
            <path d="M15.854 7.646a.5.5 0 0 1 .001.707l-5.465 5.484a.55.55 0 0 1-.78 0L4.147 8.353a.5.5 0 1 1 .708-.706L10 12.812l5.147-5.165a.5.5 0 0 1 .707-.001z" fill="currentColor"></path>
          </g>
        </svg>
        <span slot="content">13px</span>
      </cosy-button>
    </section>
    <section>
      <div>
        <h3>语言</h3>
        <p>选择界面语言</p>
      </div>
      <cosy-button id="dd-button-language">
        <svg slot="suffix" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
          <g fill="none">
            <path d="M15.854 7.646a.5.5 0 0 1 .001.707l-5.465 5.484a.55.55 0 0 1-.78 0L4.147 8.353a.5.5 0 1 1 .708-.706L10 12.812l5.147-5.165a.5.5 0 0 1 .707-.001z" fill="currentColor"></path>
          </g>
        </svg>
        <span slot="content">简体中文</span>
      </cosy-button>
    </section>
    <cosy-divider ></cosy-divider>
    <h2>主题</h2>
    <section>
      <div>
        <h3>风格</h3>
        <p>选择应用主题的风格</p>
      </div>
      <cosy-button id="dd-button-theme">
        <svg slot="suffix" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
          <g fill="none">
            <path d="M15.854 7.646a.5.5 0 0 1 .001.707l-5.465 5.484a.55.55 0 0 1-.78 0L4.147 8.353a.5.5 0 1 1 .708-.706L10 12.812l5.147-5.165a.5.5 0 0 1 .707-.001z" fill="currentColor"></path>
          </g>
        </svg>
        <span slot="content">黑暗模式</span>
      </cosy-button>
    </section>
    <section>
      <div>
        <h3>颜色</h3>
        <p>请在 <cosy-label color="red">hexo-theme-cosy</cosy-label> 配置文件中的 <cosy-label color="red">color 参数</cosy-label> 修改</p>
      </div>
      <cosy-tooltip placement="left" id="theme-color-tip">
        <span slot="content"></span>
        <cosy-label bordered>
          <span id="theme-color"></span>
        </cosy-label>
      </cosy-tooltip>
    </section>
    <cosy-divider ></cosy-divider>
    <h2>社区</h2>
    <section>
      <div>
        <h3>反馈</h3>
        <p>非常有幸被您发现，如果您对主题有任何建议、反馈，来提 issue。</p>
      </div>
      <cosy-tooltip placement="left">
        <span slot="content">Github Issue</span>
        <cosy-icon blank href="https://github.com/17px/hexo-theme-cosy/issues">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="1"></circle>
              <circle cx="12" cy="12" r="9"></circle>
            </g>
          </svg>
        </cosy-icon>
      </cosy-tooltip>
    </section>

  </main>
</div>
<!-- inject:js -->