@import "@/assets/style/common.less";

#app {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;

  > main {
    overflow: hidden;
  }

  cosy-drag-box aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .header {
      padding: 12px 13px;
    }
    .content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;
    }
  }
}
