@import "@/assets/style/common.less";

#app {
  height: 100%;
  display: flex;

  >main {
    flex: 1;
    overflow: hidden;
  }

  cosy-drag-box aside {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .header {
      padding: 12px 13px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 13px;
      }
    }
  }
}