<!-- inject:css -->

<div class="plane-bg">
  <div class="airplane-wrap">
    <div class="airplane" id="airplane">
      <div class="front-cover grp" id="front-cover-grp">
        <div class="plate front-cover-inner"></div>
        <div class="plate front-cover-center"></div>
        <div class="trapezoid front-cover-top"></div>
        <div class="trapezoid front-cover-bottom"></div>
        <div class="trapezoid front-cover-left"></div>
        <div class="trapezoid front-cover-right"></div>
        <div class="bordered-thin front-cover-top-left"></div>
        <div class="bordered-thin front-cover-top-right"></div>
        <div class="bordered-thin front-cover-bottom-left"></div>
        <div class="bordered-thin front-cover-bottom-right"></div>
      </div>
      <div class="body grp" id="body-grp">
        <div class="plate left-cover"></div>
        <div class="plate right-cover"></div>
        <div class="plate top-cover-front"></div>
        <div class="plate top-cover-back"></div>
        <div class="cockpit grp" id="cockpit-grp">
          <div class="plate roof"></div>
          <div class="bordered window-fill front-window"></div>
          <div class="window left-window"></div>
          <div class="window right-window"></div>
          <div class="bordered window-fill rear-window"></div>
        </div>
        <div class="plate bottom-cover"></div>
        <div class="plate back-cover"></div>
      </div>
      <div class="top-tail grp" id="top-tail-grp">
        <div class="plate tail-top"></div>
        <div class="plate tail-front"></div>
        <div class="plate tail-back"></div>
        <div class="plate-no-border tail-left-rect"></div>
        <div class="triangle tail-triangle-left-bottom"></div>
        <div class="triangle tail-triangle-left-top"></div>
        <div class="plate-no-border tail-right-rect"></div>
        <div class="triangle tail-triangle-right-bottom"></div>
        <div class="triangle tail-triangle-right-top"></div>
        <div class="bordered tail-connector"></div>
      </div>
      <div class="right-tail grp" id="right-tail-grp">
        <div class="plate tail-top"></div>
        <div class="plate tail-front"></div>
        <div class="plate tail-back"></div>
        <div class="plate-no-border tail-left-rect"></div>
        <div class="triangle tail-triangle-left-bottom"></div>
        <div class="triangle tail-triangle-left-top"></div>
        <div class="plate-no-border tail-right-rect"></div>
        <div class="triangle tail-triangle-right-bottom"></div>
        <div class="triangle tail-triangle-right-top"></div>
        <div class="bordered tail-connector"></div>
      </div>
      <div class="left-tail grp" id="left-tail-grp">
        <div class="plate tail-top"></div>
        <div class="plate tail-front"></div>
        <div class="plate tail-back"></div>
        <div class="plate-no-border tail-left-rect"></div>
        <div class="triangle tail-triangle-left-bottom"></div>
        <div class="triangle tail-triangle-left-top"></div>
        <div class="plate-no-border tail-right-rect"></div>
        <div class="triangle tail-triangle-right-bottom"></div>
        <div class="triangle tail-triangle-right-top"></div>
        <div class="bordered tail-connector"></div>
      </div>
      <div class="wing grp" id="wing-grp">
        <div class="plate wing-right"></div>
        <div class="plate wing-right bottom"></div>
        <div class="plate wing-left"></div>
        <div class="plate wing-left bottom"></div>
        <div class="bordered conector right"></div>
        <div class="bordered conector left"></div>
      </div>
      <div class="propeller rotate-propeller grp" id="propeller-grp">
        <div class="plate propeller-center"></div>
        <div class="plate propeller-center top"></div>
        <div class="plate p-w propeller-wing-1"></div>
        <div class="plate p-w propeller-wing-2"></div>
        <div class="plate p-w propeller-wing-3"></div>
        <div class="plate p-w propeller-wing-4"></div>
        <div class="plate p-w propeller-wing-5"></div>
        <div class="plate p-w propeller-wing-6"></div>
        <div class="plate p-w propeller-wing-7"></div>
        <div class="plate p-w propeller-wing-8"></div>
      </div>
    </div>
  </div>
</div>

<!-- inject:js -->