<!-- inject:css -->

<div class="resume scrollbar-obtrusive">
  <!-- <div class="a4">resume</div> -->
  <div class="container">
    <aside>
      <div class="base">
        <figure><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="7" r="4"></circle>
              <path d="M6 21v-2a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v2"></path>
            </g>
          </svg></figure>
        <h3>mozzie</h3>
        <div class="badge">
          <span>Front-End Developer</span>
        </div>
        <div class="seperation"></div>
        <ul>
          <li>
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <rect x="3" y="5" width="18" height="14" rx="2"></rect>
                  <path d="M3 7l9 6l9-6"></path>
                </g>
              </svg>
            </span>
            <div>
              <p>email</p>
              <h4>himozzie@gmail.com</h4>
            </div>
          </li>
          <li>
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
                <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5L15 13l5 2v4a2 2 0 0 1-2 2A16 16 0 0 1 3 6a2 2 0 0 1 2-2" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
            <div>
              <p>phone</p>
              <h4>+86 18061205553</h4>
            </div>
          </li>
          <li>
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <rect x="4" y="5" width="16" height="16" rx="2"></rect>
                  <path d="M16 3v4"></path>
                  <path d="M8 3v4"></path>
                  <path d="M4 11h16"></path>
                  <path d="M11 15h1"></path>
                  <path d="M12 15v3"></path>
                </g>
              </svg>
            </span>
            <div>
              <p>BIRTHDAY</p>
              <h4>Jan 21, 1994</h4>
            </div>
          </li>
          <li>
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
                <path d="M21 3l-6.5 18a.55.55 0 0 1-1 0L10 14l-7-3.5a.55.55 0 0 1 0-1L21 3" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
            <div>
              <p>LOCATION</p>
              <h4>NanJing, China</h4>
            </div>
          </li>
        </ul>
      </div>
    </aside>
    <main>
      <h2>About Me</h2>
      <div class="about-me">
        <p>I'm Creative Director and UI/UX Designer from Sydney, Australia, working in web development and print media. I enjoy turning complex problems into simple, beautiful and intuitive designs.</p>
        <p>My job is to build your website so that it is functional and user-friendly but at the same time attractive. Moreover, I add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring across your message and identity in the most creative way. I created web design for many famous brand companies.</p>
      </div>
      <h2>Resume</h2>
      <ul>
        <li class="title">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M22 9L12 5L2 9l10 4l10-4v6"></path>
                <path d="M6 10.6V16a6 3 0 0 0 12 0v-5.4"></path>
              </g>
            </svg>
          </span>
          <h4>Education</h4>
        </li>
        <li class="item">
          <p class="name">University School of the Arts</p>
          <div class="period">2001-2009</div>
          <p class="content">Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et quas molestias exceptur.</p>
        </li>
        <li class="item">
          <p class="name">University School of the Arts</p>
          <div class="period">2001-2009</div>
          <p class="content">Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et quas molestias exceptur.</p>
        </li>
        <li class="item">
          <p class="name">University School of the Arts</p>
          <div class="period">2001-2009</div>
          <p class="content">Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et quas molestias exceptur.</p>
        </li>
      </ul>
      <ul>
        <li class="title">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M8 9l5 5v7H8v-4m0 4H3v-7l5-5m1 1V4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v17h-8"></path>
                <path d="M13 7v.01"></path>
                <path d="M17 7v.01"></path>
                <path d="M17 11v.01"></path>
                <path d="M17 15v.01"></path>
              </g>
            </svg>
          </span>
          <h4>Experience</h4>
        </li>
        <li class="item">
          <p class="name">University School of the Arts</p>
          <div class="period">2001-2009</div>
          <p class="content">Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et quas molestias exceptur.</p>
        </li>
        <li class="item">
          <p class="name">University School of the Arts</p>
          <div class="period">2001-2009</div>
          <p class="content">Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et quas molestias exceptur.</p>
        </li>
        <li class="item">
          <p class="name">University School of the Arts</p>
          <div class="period">2001-2009</div>
          <p class="content">Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et quas molestias exceptur.</p>
        </li>
      </ul>
    </main>
  </div>
</div>

<!-- inject:js -->