.resume {
  height: 100%;
  padding: 24px 0;
  overflow-y: auto;
  // background: linear-gradient(to right, #80808012 1px, transparent 1px), linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background: linear-gradient(90deg, var(--color-bg) 21px, transparent 3%) center, linear-gradient(var(--color-bg) 21px, transparent 4%) center, var(--color-font-2);
  background-size: 22.5px 22.5px;

  .container {
    margin: 0 auto;
    width: 1280px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 24px;

    aside {
      padding: 24px;
      border: 1px solid var(--color-border);
      border-radius: var(--radius);
      background: var(--color-bg-2);

      figure {
        width: 174px;
        height: 174px;
        border-radius: 32px;
        background: var(--color-bg-3);
      }

      h3 {
        font-size: 24px;
        font-weight: 500;
        margin-top: 0;
        text-align: center;
        margin-bottom: 1rem;
      }

      .badge {
        text-align: center;

        >span {
          padding: 0.5rem 1rem;
          font-weight: 300;
          font-size: 12px;
          background: var(--color-bg-3);
          border-radius: var(--radius);
        }
      }

      .seperation {
        margin: 2rem 0;
        background: var(--color-border);
        height: 1px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          .icon {
            padding: 8px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            background: var(--color-bg-3);
            border-radius: var(--radius);
          }

          >div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 1rem;
            flex: 1;

            p {
              margin: 0;
              line-height: 1;
              font-size: 12px;
              color: var(--color-font-2);
            }

            h4 {
              padding-top: 0.5rem;
              margin: 0;
              font-weight: 400;
              font-size: 14px;
              color: var(--color-font);
            }
          }
        }
      }
    }

    main {
      padding: 24px;
      border: 1px solid var(--color-border);
      border-radius: var(--radius);
      background: var(--color-bg-2);
    }
  }
}