.category {
  display: flex;
  flex-direction: column;
  height: 100%;

  >header {
    padding-right: 24px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    border-bottom: 1px solid var(--color-border-2);

    >section {
      display: flex;
      align-items: center;
    }
  }

  .spotlight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 36px;
    background: var(--color-bg-2);

    .filter {
      display: inline-flex;
      align-items: center;
      color: var(--color-font-3);
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .post-num {
      font-size: 13px;
      color: var(--color-font-2)
    }
  }

  .table {
    flex: 1;
    margin: 0;
    padding: 0;
    overflow: auto;

    li {
      list-style: none;
      height: 44px;
      line-height: 44px;
      border-bottom: 1px solid var(--color-border-2);

      &:hover {
        background: var(--color-tiny-hover);
      }

      &.selected {
        background: var(--color-primary-2);
      }

      a {
        display: flex;
        align-items: center;
        padding: 0px 30px;
        color: var(--color-font);
        text-decoration: none;

        .icon {
          display: inline-flex;
          align-items: center;
          color: var(--color-font-3);
          margin-right: 8px;
          width: 20px;
          height: 16px;

          svg {
            height: 100%;
            width: 100%;
          }

          &.priority {
            width: 20px;
            height: 20px;
            color: #fc7840;
          }
        }

        p {
          padding-right: 20px;
          margin: 0;
          font-size: 13px;
          flex: 1;
        }

        .post-date {
          color: var(--color-font-2);
          font-size: 12px;

          b {
            font-weight: 500;
          }

          em {
            font-style: normal;
          }
        }
      }
    }

    .color-circle {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid;

      &.color-1 {
        border-color: #FF453A;
      }

      &.color-2 {
        border-color: #FF9F0A;
      }

      &.color-3 {
        border-color: #FFD60A;
      }

      &.color-4 {
        border-color: #32D74B;
      }

      &.color-5 {
        border-color: #0A84FF;
      }

      &.color-6 {
        border-color: #BF5AF2;
      }

      &.color-7 {
        border-color: #8E8E93;
      }
    }
  }
}