@color-purple-0: #6C79FF;
@color-purple-1: #7477F0;
@color-purple-2: #6E79D6;
@color-purple-3: #5E6AD2;
@color-purple-4: #666BE2;
@color-purple-5: #5C67C7;
@color-purple-6: #575BC7;
@color-purple-7: #37466C;
@color-purple-8: #2A2B51;
@color-purple-9: #222342;

@color-grey-0: #FFFFFF;
@color-grey-1: #D9D9D9;
@color-grey-2: #E0E1EC;
@color-grey-3: #D2D3E0;
@color-grey-4: #B0B5C0;
@color-grey-5: #8D8BA3;
@color-grey-6: #858699;
@color-grey-7: #4C4F6B;
@color-grey-8: #4D4F69;
@color-grey-9: #444556;
@color-grey-10: #3C3D53;
@color-grey-11: #393A4B;
@color-grey-12: #6B6F76;
@color-grey-13: #313248;
@color-grey-14: #26293E;
@color-grey-15: #2C2D42;
@color-grey-16: #292B41;
@color-grey-17: #26273B;
@color-grey-18: #292A35;
@color-grey-19: #1D1E2B;
@color-grey-20: #191A23;

@yellow: #f2c94c;
@orange: #f2994a;
@green: #4cb782;
@teal: #00b2bf;
@red: #eb5757;
@red-light: #fa6563;
@blue: #4ea7fc;
@grey: #95a2b3;

@shadow-dark: rgba(0, 0, 0, 0.2) 0px 4px 24px;

:root {
  --color-primary: @color-purple-6;
  --color-bg: @color-grey-20;
  --color-body-bg: linear-gradient(@color-grey-18 0%, @color-grey-20 50%);
  --color-frost-bg: blur(10px) saturate(190%) contrast(70%) brightness(80%);

  // button
  --color-button-font: @color-grey-2;
  --color-button-border: @color-grey-13;
  --color-button-border-hover: @color-grey-8;
  --color-button-bg: @color-grey-17;
  --color-button-bg-hover: @color-grey-15;

  // short-key
  --color-short-key-bg: @color-grey-10;
  --color-short-key-font: @color-grey-2;

  // search
  --color-search-bg: @color-grey-15; // @color-grey-17
  --color-search-bg-hover: @color-grey-15;
  --color-search-font: @color-grey-2;
  --color-search-border: @color-grey-13;
  --color-search-border-hover: @color-grey-8;

  // switch
  --color-switch-bg: @color-grey-10;
  --color-switch-bg-checked: @color-grey-10;
  --color-switch-font-checked: @orange;
  --color-switch-border: @color-grey-13;
  --color-switch-border-hover: @color-grey-8;
  --color-switch-track-bg: @color-grey-17;
  --color-switch-track-bg-checked: @color-grey-17;

  // dropdown
  --color-dropdown-hover: @color-grey-10;
  --color-dropdown-bg: fade(@color-grey-15, .9);
  --color-dropdown-border: @color-grey-10;
  --color-dropdown-shadow: @shadow-dark;

  // tooltip
  --color-tooltip-bg: fade(@color-grey-15, .9);
  --color-tooltip-border: @color-grey-10;
}