@color-purple-6: hsl(238, 50%, 56%); // base

@color-grey-0: hsl(0, 0%, 100%);
@color-grey-2: hsl(235, 24%, 90%);
@color-grey-3: hsl(236, 18%, 85%);
@color-grey-5: hsl(245, 12%, 59%);
@color-grey-6: hsl(237, 9%, 56%);
@color-grey-8: hsl(236, 15%, 36%);
@color-grey-10: hsl(237, 16%, 28%);
@color-grey-12: hsl(218, 5%, 44%);
@color-grey-13: hsl(237, 19%, 24%);
@color-grey-15: hsl(237, 20%, 22%);
@color-grey-17: hsl(237, 22%, 19%);
@color-grey-18: hsl(235, 13%, 18%);
@color-grey-19: hsl(236, 19%, 14%);
@color-grey-20: hsl(234, 17%, 12%);

@shadow-dark: rgba(0, 0, 0, 0.2) 0px 4px 24px;

:root {
  --font-size: 13px;
  --base-hue: 238; /* 色相 */
  --base-saturation: 50%; /* 饱和度 */
  --base-lightness: 56%; /* 亮度 */

  // 主色调
  --color-primary: hsl(
    var(--base-hue),
    var(--base-saturation),
    var(--base-lightness)
  );
  --color-primary-1: hsl(
    var(--base-hue),
    var(--base-saturation),
    calc(var(--base-lightness) * 0.8)
  );
  --color-primary-2: hsl(
    calc(var(--base-hue) - 5),
    calc(var(--base-saturation) - 17%),
    calc(var(--base-lightness) - 24%)
  );
  --color-primary-3: hsl(
    calc(var(--base-hue) - 5),
    calc(var(--base-saturation) - 18%),
    calc(var(--base-lightness) - 32%)
  );
  --color-primary-4: hsl(
    var(--base-hue),
    calc(var(--base-saturation) - 18%),
    calc(var(--base-lightness) - 36%)
  );

  --color-yellow: hsl(45, 86%, 62%);
  --color-orange: hsl(28, 87%, 62%);
  --color-green: hsl(150, 43%, 51%);
  --color-teal: hsl(184, 100%, 37%);
  --color-red: hsl(0, 79%, 63%);
  --color-blue: hsl(209, 97%, 65%);
  --color-red-light: hsl(1, 94%, 68%);
  --color-grey: hsl(214, 16%, 64%);

  --font-regular: "linear", "Inter UI", "SF Pro Display", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;

  --color-post-code-title-bg: @color-grey-13;
  --color-post-code-bg: fade(@color-grey-20, 100);

  --color-bg: @color-grey-20;
  --color-bg-2: @color-grey-18;
  --color-body-bg: linear-gradient(
    to bottom right,
    @color-grey-18 0%,
    @color-grey-20 50%
  );
  --color-bg-hover: fade(@color-grey-13, 70);
  --color-bg-hover-1: fade(@color-grey-13, 80);
  --color-frost-bg: blur(10px) saturate(190%) contrast(70%) brightness(80%);
  // 水平垂直拖拽容器触发颜色
  --color-dragger: @color-grey-15;
  // 边框
  --color-border: @color-grey-10;
  --color-border-2: fade(@color-grey-10, 50);
  --color-border-3: fade(@color-grey-10, 30);
  // 滚动条
  --width-scrollbar: 12px;
  --color-scrollbar: @color-grey-13;
  --color-scrollbar-hover: @color-grey-12;

  // 文字`
  --color-font: @color-grey-0;
  --color-font-1: @color-grey-3;
  --color-font-2: @color-grey-5;
  // 文字选中背景色
  --color-selection-bg: hsl(
    calc(var(--base-hue) - 5),
    calc(var(--base-saturation) - 17%),
    calc(var(--base-lightness) - 20%)
  );
  // 图标
  --color-icon: @color-grey-6;
  --color-icon-hover: @color-grey-3;

  // button
  --color-button-font: @color-grey-6;
  --color-button-font-hover: @color-grey-3;
  --color-button-border: @color-grey-10;
  --color-button-border-hover: @color-grey-8;
  --color-button-bg: @color-grey-15;
  --color-button-bg-hover: @color-grey-13;

  // short-key
  --color-short-key-bg: @color-grey-10;
  --color-short-key-font: @color-grey-2;

  // search
  --color-search-bg: @color-grey-15; // @color-grey-17
  --color-search-bg-hover: @color-grey-15;
  --color-search-font: @color-grey-2;
  --color-search-border: @color-grey-13;
  --color-search-border-hover: @color-grey-8;

  // switch
  --color-switch-bg: @color-grey-10;
  --color-switch-bg-checked: @color-grey-10;
  --color-switch-font-checked: var(--color-orange);
  --color-switch-border: @color-grey-13;
  --color-switch-border-hover: @color-grey-8;
  --color-switch-track-bg: @color-grey-20;
  --color-switch-track-bg-checked: @color-grey-15;

  // dropdown
  --color-dropdown-hover: @color-grey-10;
  --color-dropdown-bg: fade(@color-grey-15, 60);
  --color-dropdown-border: @color-grey-10;
  --color-dropdown-shadow: @shadow-dark;

  // tooltip
  --color-tooltip-bg: fade(@color-grey-15, 90);
  --color-tooltip-border: @color-grey-10;

  // divider
  --color-border-divider: @color-grey-10;

  // popup
  --color-popup-mask-bg: fade(@color-grey-5, 5);
  --color-popup-bg: fade(@color-grey-19, 80);
  --color-popup-border: fade(@color-grey-10, 44);

  // label
  --color-label-font: @color-grey-6;
  --color-label-font-hover: @color-grey-3;
  --color-label-bg: @color-grey-15;
  --color-label-border: @color-grey-10;
  --color-label-border-hover: @color-grey-8;
}
