// @import './prism/prism-one-light.less';
@import './prism/prism-line-number.less';
@import './article.less';

.post-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  >header {
    padding-right: 24px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    border-bottom: 1px solid var(--color-border);

    .left {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  .content {
    flex: 1;
    display: flex;
    min-width: 0px;
    overflow-y: hidden;

    >main {
      flex: 1;

      .article-container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        width: calc(100% - 120px);
        margin-left: auto;
        margin-right: auto;
        max-width: 860px;
        flex-grow: 1;

        >article {
          display: flex;
          flex-direction: column;
          flex: 1;

          .post-info {
            padding: 0;
            color: var(--color-font-2);
            font-size: 13px;
          }
        }

        .tags {
          display: flex;
          align-items: center;
          color: var(--color-font-2);
          flex-wrap: wrap;
          margin: 0 auto;
          max-width: 860px;
          margin: 20px 0;
          padding: 0;

          li {
            margin-right: 6px;
            font-size: 12px;
            list-style: none;
            margin-bottom: 8px;

            a {
              padding: 2px 4px;
              display: inline-block;
              border-radius: var(--radius);
              background: var(--color-primary-2);
              color: var(--color-font-2);
              text-decoration: none;
            }

          }
        }
      }

      .vwrap,
      .vbtn,
      .vinput {
        border-color: var(--color-border);
        border-bottom-color: var(--color-border);
      }
    }
  }


  .meta-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 57px);

    >header {
      min-height: 57px;
      padding-left: 2rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--color-border-2);
    }

    .toc-wrapper {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      flex: 1;
      margin: 0;
      // overflow-x: hidden;
      // overflow-y: auto;

      .catalog {
        display: flex;
        align-items: center;
        color: var(--color-font-3);

        svg {
          width: 16px;
          height: 16px;
        }

        span {
          font-size: 13px;
          padding-left: 8px;
        }
      }

      ol {
        margin: 0;
        padding-left: 0;
        list-style: none;
      }

      .toc {
        position: relative;
        overflow-y: auto;
        flex: 1;
        margin: 0;

        >li {
          &:first-of-type {
            margin-top: 0.5rem;
          }

          &:last-of-type {
            margin-bottom: 1rem;
          }
        }

        &:before {
          content: "";
          position: fixed;
          z-index: 10;
          width: 100%;
          height: 2rem;
          background: linear-gradient(var(--color-bg), transparent 70%);
        }

        &:after {
          position: fixed;
          content: "";
          bottom: 0;
          z-index: 10;
          width: 100%;
          height: 2rem;
          background: linear-gradient(transparent, var(--color-bg) 70%);
        }

        &::-webkit-scrollbar {
          display: none;
        }

        .toc-item {
          a {
            position: relative;
            display: block;
            line-height: 2rem;
            text-decoration: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-radius: var(--radius);
            font-size: 13px;

            &:hover {
              background: var(--color-tiny-hover);
            }

            &.active {
              background: var(--color-primary-2);
              color: var(--color-font);
            }

          }
        }

        .toc-level-1 {
          a {
            padding-left: 1rem;
            color: var(--color-font);
          }
        }

        .toc-level-2 {
          a {
            padding-left: 2rem;
            color: var(--color-font-2);
          }
        }

        .toc-level-3 {
          a {
            padding-left: 3rem;
          }
        }
      }
    }
  }

}