.select-wrap {
  position: relative;

  .text-tab {
    position: absolute;
    z-index: 100;
    bottom: 100%;
    padding: 3px;
    color: var(--color-font-2);
    border-radius: 8px;
    backdrop-filter: var(--dropdown-bdf);
    background: var(--dropdown-bg);
    border: var(--dropdown-border);
    box-shadow: var(--dropdown-boxShadow);

    &::after {
      content: '';
      position: absolute;
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 4px;
        border-radius: var(--radius);
        display: flex;
        color: var(--color-font-2);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: 400;

        &:hover {
          // background: var(--color-bg-2);
          color: var(--color-primary);
          background: var(--color-bg-3);
        }

        &:last-of-type {
          margin-right: 0;
        }

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}