<!-- inject:css -->

<section class="category-nav scrollbar-obtrusive">
  <%- generate_nav() %>
  <p><%- __('text-category') %></p>
  <%- generate_category(site.categories) %>
</section>

<!-- inject:js -->