@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 768px) {
  .resume {
    .header {
      > ul {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .preference main section p {
    display: none;
  }

  #filter-button,
  .post-num {
    display: none;
  }
}

@media only screen and (max-width: 512px) {
}
