.roadmap {
  height: 100%;

  #gantt-container {
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      display: none;
    }

    .timeline-container {
      padding-left: 5px;
      white-space: nowrap;
      cursor: grab;
      position: relative;
      height: auto;
      user-select: none;

      .months-row,
      .days-row {
        position: relative;
        height: 30px;
      }

      .month,
      .day {
        position: absolute;
        text-align: center;
        height: 30px;
        width: 30px;
        line-height: 30px;

        &.today {
          background-color: var(--color-primary); // 你想要的颜色
          border-radius: 50%; // 使其成为一个圆圈
        }
      }
    }



    .task-container {
      flex: 1;
      position: relative;

      .task-bar {
        padding: 0 10px;
        background: var(--color-primary);
        border-radius: var(--radius);
      }
    }
  }
}