.roadmap {
  height: 100%;

  #gantt-container {
    overflow-x: scroll;
    height: 100%;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    #gantt-chart {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &.limited-days {
        justify-content: space-evenly;

        .gantt-month {
          min-width: 20%;

          .gantt-days {
            justify-content: space-evenly;
          }
        }
      }

      .task-container {
        flex: 1;

        .task-bar {
          height: 30px;
          margin-bottom: 5px;
          background-color: var(--color-primary);
        }
      }


      .gantt-header {
        display: flex;

        .gantt-month {
          flex-grow: 1;
          text-align: center;
        }

        .gantt-days {
          font-size: 12px;
          white-space: nowrap;
          display: flex;
          align-items: center;
          color: var(--color-font);

          .gantt-day {
            margin: 0 2px;
          }
        }
      }
    }
  }
}