.roadmap {
  height: 100%;

  #gantt-container {
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      display: none;
    }

    .timeline-container {
      white-space: nowrap;
      cursor: grab;
      position: relative;
      height: auto;
      user-select: none;

      .months-row,
      .days-row {
        position: relative;
        height: 30px;
      }

      .month,
      .day {
        position: absolute;
        height: 30px;
        line-height: 30px;
      }
    }



    .task-container {
      flex: 1;
      position: relative;

      .task-bar {
        background: var(--color-primary);
      }
    }
  }
}