<!-- inject:css -->

<div class="roadmap">
  <div class="timeline-bar">
    <div id="segmented-control-container"></div>
    <section>
      <button id="year-dropdown">选择年份</button>
      <button id="tody-button">今天</button>
    </section>
  </div>
  <div id="gantt-container" class="scrollbar-obtrusive"></div>
</div>

<!-- inject:js -->